<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置shiro的过滤器工厂类，id- shiroFilter要和我们在web.xml中配置的过滤器一致 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!-- securityManager 必须配置-->
        <property name="securityManager" ref="securityManager"/>
        <!-- 配置我们的登录请求地址 -->
        <property name="loginUrl" value="/system/login"/>
        <property name="unauthorizedUrl" value="/403.jsp"/>
        <property name="filters">
            <map>
                <entry key="authc" value-ref="myFormAuthenticationFilter"/>
            </map>
        </property>
        <!-- 权限配置 -->
        <property name="filterChainDefinitions">
            <value>
                <!-- anon表示此地址不需要任何权限即可访问,authc表示只有通过表单登录的用户才能访问/authc/下的资源 -->
                /static/**=anon

                <!--user配置记住我或认证通过可以访问的地址-->
                /login_out=logout
                /**=authc
            </value>
        </property>
    </bean>
    <!-- 配置权限管理器 -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- ref对应我们写的realm  MyShiro -->
        <property name="realm" ref="myRealm"/>
    </bean>
    <bean id="myRealm" class="org.dongchao.web.security.MyRealm"/>

    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
    <!--自定义登录验证过滤器-->
    <bean id="myFormAuthenticationFilter" class="org.dongchao.web.security.MyFormAuthenticationFilter">
    </bean>
</beans>